@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');



/***page***/

.page {
    display: none;
   height:100%;
    width: 100%;
   
    
}

.active {
    display: block;
}

#home {
    background-color: #fff;
}

#find {
    background-color: #fff;
}

#contact-us {
    background-color: #fff;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 500;
    transition: all 0.5s;
    margin-left: 10px;
    display: inline;

}

.medium {
    font-size: 55px;
    font-weight: 600;
}

/******Header*****/

.header {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    height: 60px;
    padding-top: 10px;

}

.float {
    text-decoration: none;
    list-style-type: none;
    float: right;

}

li {
    display: inline-block;

}

.nav-link {
    color: black;
    margin: 15px;

}


a:hover {
    text-decoration: none;
    color: #ff0000;
}

/***********/
.card {
    display: inline-block;
    margin-top: 25px;
}

.card-title,
.card-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-shadow: none;
}

.audio-placeholder {
    margin: 10px;
}
/******Footer*****/

footer {
    margin: 0 auto;
    position: absolute;
   margin-top:30px;
   padding-top:25px;
    } 

.col-sm-4 {
    text-align: center;
}


/*******Contact****/

.container {
    text-align: center;
   padding-top: 20px;
}

.form {
    display: block;
    margin: 20px;
}

.form-control:hover{
    border-color: #ced4da;
    box-shadow:none;
}

.form-control:focus {
    border-color: grey;
    box-shadow:none;
}

.uppercase {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

.form-group {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: 15px;
}


.btn-secondary {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color:#e6e6e6; 
    
    border-color:#c0c0c0;
    margin-top: 15px;
}

.btn-secondary:hover {
    background-color:#ff0000; 
    border-color:#ff0000;
}

/********Find Page******/

#map {
    height:400px;
    width:100%;
}

.location {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.mr-3 {
    height:150px;
    width: 150px;
}

.mr-3:hover {
    height:250px;
    width: 250px;
}

.list-unstyled {
    margin-top:20px;
    
}

.media {
    border: 1px solid #ced4da;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding:10px;
}


.media-end {
     padding:10px;
    color:#0040ff;
}

.query {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

